.container
  box-sizing border-box
  width 800px
  margin 0 auto

.nav
  padding 1rem

.title
  padding 1rem
  font-size 1.8rem
  text-weight bolder

  .title--sub
    font-size 1.2rem
    text-weight normal
    color #777

.content
  padding 1rem
  margin-top 1rem

@media(max-width: 800px)
  .container
    width 100%
    margin 0

  .nav
    padding 0.5rem

  .title
    padding 0.5rem

  .content
    padding 0.5rem
